h1 {
  font-family: "Source code pro";
  font-size: 48px;
  font-weight: bolder;
  text-transform: uppercase;
}

a {
  font-family: "Source code pro";
  font-weight: bold;
  font-size: 18px;
  color: var(--nav-link-color);
  text-decoration: none;
}

.app-wrapper {
  margin: 0 auto;
  max-width: 1300px;
  min-width: 1000px;
}

.logo {
  text-align: center;
  cursor: pointer;
}
