.issues-page-wrapper {
  .issues-page {
    height: 700px;
    background-color: var(--bg-color);
    border-radius: 0 0 50px 50px;

    ul {
      list-style: none;
    }
  }

  .pagination {
    margin: 20px 0 20px 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
      margin-right: 15px;
      a {
        color: #000000;
      }
    }
  }
}
